.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.aa{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}